{% extends 'base.html' %}
{% block body %}

<div class='center'>
	<p>
		SeDIT tool is used for comparison of expression levels of specific genes between males' and females' 11 immune cell types.<br>
		There are 4 independent RNA-sequencing datasets. All datasets were produced according to ImmGen<a href='#1'><sup>1</sup></a> pipeline (http://www.immgen.org/Protocols/11Cells.pdf). Alignment to the genome and quantification were done by Hisat<a href='#2'><sup>2</sup></a> and Tuxedo<a href='#3'><sup>3</sup></a> pipeline. <br>
		Datasets description: <br>
		All datasets are RNA- sequencing data from male and female mice of 11 naïve immune cell types: <br>
		<ol>
			<li> Granulocytes (GN)				</li>
			<li> Macrophages (MF)				</li>
			<li> Dendritic Cells (DC)			</li>
			<li> B1a B cells (B1a)				</li>
			<li> B Cells (B)					</li>
			<li> Natural Killer Cells (NK)		</li>
			<li> CD8+ T Cells (T8)				</li>
			<li> CD4+ T Cells (T4)				</li>
			<li> Regulatory T Cells (Treg)		</li>
			<li> Natural Killer T Cells (NKT)	</li>
			<li> Gamma Delta T Cells (Tgd)		</li>
		</ol>
	</p>
	<img source src=" {{ '/sedit' + url_for('static', filename='images/cells_2.png') }} ">
	<br>
<!--	<img source src=" {{ url_for('static', filename='images/cells_2.png') }} ">
-->
	<br>
	<table>
			<tr>
				<th style='border: 1px solid black;' align="left">Dataset</th>
				<th style='border: 1px solid black;' align="left">Description</th>
				<th style='border: 1px solid black;' align="left">Mapped reads per sample</th>
			</tr>
			<tr>
				<td style='border: 1px solid black;' align="left">DS_A</td>
				<td style='border: 1px solid black;' align="left">3 replicates. Including interferon (IFN) <br> stimulated samples for GN (10k IFN),<br> MF (10k IFN) and B (1k and 10k IFN).</td>
				<td style='border: 1px solid black;' align="left">Naïve: 6-24 M (mean 12)<br>
					IFN: 3-21 M (mean 12)
				</td>
			</tr>
			<tr>
				<td style='border: 1px solid black;' align="left">DS_B</td>
				<td style='border: 1px solid black;' align="left">Samples from young (2 months), adult (6 months) and old (17 months males, 20 months females) mice.<br>
				No replicates (two replicates of 6 months B and T4 samples). </td>
				<td style='border: 1px solid black;' align="left">7-18 M (mean 12) </td>
			</tr>

			<tr>
				<td style='border: 1px solid black;' align="left">DS_C </td>
				<td style='border: 1px solid black;' align="left">No replicates. Male and female samples were produced in separate batches. </td>
				<td style='border: 1px solid black;' align="left">Males: 19-117 M (mean 70)<br>
					Females: 7-41 M (mean 25)</td>
			</tr>

			<tr>
				<td style='border: 1px solid black;' align="left">DS_D</td>
				<td style='border: 1px solid black;' align="left">No replicates.  </td>
				<td style='border: 1px solid black;' align="left">4-20 M (mean 13)  </td>
			</tr>
	</table>
	<br>
	<p>
		SeDIT allows browsing at two levels of resolution:
	</p>
	<p>
		<strong>Pan Immune </strong> - presenting replicates of all immune cell types from selected datasets. Figure 1 displays this presentation for <strong> Xist </strong> in one dataset (DS_A).  On the website, more figures will appear below and present the results of all available datasets.
	</p>
	<figure>
		<embed type='image/svg+xml' src={{ pi_graph|safe }} />
		<figcaption style=" padding-left:80px ">
			Figure 1. Expression levels of the X-linked gene Xist using Pan-Immune presentation. The Y axis shows the log 2 expression values of the gene. 11 cell types are presented on the X axis. Expression values for female samples (red) and male samples (blue) are shown. Each dot represents one sample. Lighter shades represent IFN stimulated samples
		</figcaption>
	</figure>
	<br>
	<p>
		<strong> Per cell type </strong> - presenting replicates of specific cell types from all datasets, figure 2.
	</p>
	<figure>
		<embed type='image/svg+xml' src = {{ ctc_graph|safe }} />
		<figcaption style=" padding-left:80px ">Figure 2. Expression levels of the X-linked gene Xist in Granulocytes (GN) using per cell type presentation. The Y axis shows the log 2 expression values of the gene. Four independent datasets are presented on the X axis. Expression values for female samples (red) and male samples (blue) are shown. Each dot represents one sample. Lighter shades represent IFN stimulated samples.
		</figcaption>
	</figure>
	References: <br>
	<cite id='1'>
	1. Heng, T. S., Painter, M. W. & Immunological Genome Project Consortium. The Immunological Genome Project: networks of gene expression in immune cells. Nat. Immunol. 9, 1091-1094 (2008). <br>
	</cite>
	<cite id='2'>
	2. Kim, D., Langmead, B. & Salzberg, S. L. HISAT: a fast spliced aligner with low memory requirements. Nat. Methods 12, 357-360 (2015). <br>
	</cite>
	<cite id ='3'>
	3. Trapnell, C. et al. Differential gene and transcript expression analysis of RNA-seq experiments with TopHat and Cufflinks. Nat. Protoc. 7, 562-578 (2012). <br>
	</cite>

</div>

{% endblock %}
