{% extends 'base.html' %}
{% block body %}
<div class='center'>
	<div class='search'>
		<h1> Male vs. Female Per Cell Type gene expression  </h1>
		<div style="font-size: x-large;">
		<p>
		    Displays expression levels in selected cell type in males and females in four datasets.
		</p>
		<form action="{{ '/sedit' +  url_for('cell_type_specific') }}" method="post" id="search_gene">
			{{ form.hidden_tag()|safe }}
				Gene Symbol {{ form.gene_name(list="genes_datalist") }}
				<datalist id="genes_datalist" >
				</datalist>
				<br>

				Cell Type <hidden style="padding-left : 32px"/> {{ form.cell_type }}
			<p><input type="submit" name="search"></p>
		</form>
		<br>
			<p>
				{% with messages = get_flashed_messages() %}
					{% for message in messages %}
						{{message}}
					{% endfor %}
				{% endwith %}
			</p>
			{% for message in messages %}
				<p style="color:red; font-size:17px;">
				{{ message }}
				</p>
				<br>
			{% endfor %}

	</div>
	
{% if ' ' in request.path.split('/') %}
	Please enter gene symbol.
{% endif %}
	<div class="graphs">

        {% if graph %}	
		<embed type='image/svg+xml' src = "{{ graph|safe }}" />
		<br>
        {% endif %}
		</div>
	</div>
</div>

{% endblock %}
