{% extends "base.html" %}

{% block body %}

<div class='center'>

	<div class='search'>
		<h1> Male vs. Female <strong>Pan-Immune</strong> gene expression</h1>
		<div style="font-size: x-large;">
		<p>
			Displays expression levels in 11 immune cell types in males and females in four datasets.
		</p>
		<br>
		<form action="{{ '/sedit' +url_for('pan_immune') }}" method="post" id="search_gene">
			{{ form.hidden_tag()|safe }}
			Gene Symbol {{ form.gene_name(list="genes_datalist") }}
				<datalist id="genes_datalist" >
				</datalist>
				<br>
			<p><input type="submit" name="search"></p>
		</form>
		<br>
		{% with messages = get_flashed_messages() %}
			{% for message in messages %}
				{{ message }}
			{% endfor %}
		{% endwith %}
		<br>

	</div>

{% if '%20' in request.path.split('/') %}
        <p style="color:red;">
            Please enter gene symbol.
        </p>
{% else %}
Gene {{ gene_name }} not found in the database.
{% endif %}
    {% if header %}
    {{ header }}
    {% endif %}
	<br>
    {% if is_extended %} 
    <a href="{{'/sedit' +  url_for('pi_gene',gene_name=gene_name) }}">
    dont show repeats (if there are any)
    </a>
    {% else %}
    {% if header %}
    <a href="{{ '/sedit' +url_for('pi_gene_ext',gene_name=gene_name) }}">
    show repeats
    </a>
    {% endif %}
    {% endif %}
    <br>

    <div class='graphs'>
	{% if graph %}
		<p>
		Independent datasets are presented in separate figures.
		</p>
		{% for message in messages %}
		<p style="color:red; font-size:17px;">
	 		{{ message }}
	 	</p>
		{% endfor %}
		<div style="display:none;"}>
		there are graphs
		</div>
			<embed type='image/svg+xml' src = {{ graph|safe }} />
			<br>
	{% endif %}
		</div>
	</div>
</div>

{% endblock %}
